* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ======== ROOT ======== */
:root {
    --red: #ef4958;
    --black:#111111;
    --cream:#e1dacd;
    --bgwhite:#d9d9d9;
}

/* Temel Stil */
html, body {
    height: 100%;
    line-height: 1.6;
    background-color: var(--bgwhite);
}

@font-face {
    font-family: 'Nevan';
    src: url(FONT/Nevan.ttf);
    font-style: normal;
    font-weight: 100;
}




/* ======== NAVBAR ========== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--black);
    font-family: Nevan;
    
}
.logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.logo img {
    height: 55px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
    flex: 2;
    justify-content: center;
    
}

.nav-links li a {
  margin-right: 25px;
  font-size: 20px;
  text-decoration: none;
  color: #d9d9d9;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links li a::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px; 
  left: 0;
  width: 0;
  height: 2px; 
  background-color: var(--red);
  transition: width 0.3s ease;
}

.nav-links li a:hover::after,
.nav-links li a.active::after {
    width: 100%;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
}

.search {
  width: 300px;
  margin-right: 100px;
  padding: 8px;
  border-radius: 15px;
  border: 3px solid transparent; /* Initially transparent border */
  outline: none; /* Remove default outline */
  transition: border-color 0.3s ease; /* Smooth transition for border color */
}

.search:focus {
  border-color: var(--red); /* Change to desired color on focus */
}

.search-icon {
  color: #111111;
  position: absolute;
  right: 115px;
  cursor: pointer;
}

.cart-button {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}

.btn1 {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  color: var(--button-text-color);
  font-family: Nevan;
  /* Clean style */
  
  --button-text-color: var(--background-color);
  --button-text-color-hover: var(--button-background-color);
  --border-color: #7D8082;
  --button-background-color: #ece8e1;
  --highlight-color: #ff4655;
  --button-inner-border-color: transparent;
  --button-bits-color: var(--background-color);
  --button-bits-color-hover: var(--button-background-color);
  
  position: relative;
  padding: 5px;
  margin-bottom: 2%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  transition: all .15s ease;
}

.btn__inner1 {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.btn__slide1 {
  display: none; 
}

.btn__content1 {
  display: flex;
  align-items: center;
}

.btn1::before,
  .btn1::after {
    content: '';
    display: block;
    position: absolute;
    right: 0; left: 0;
    height: calc(50% - 5px);
    border: 1px solid var(--border-color);
    transition: all .15s ease;
  }
  
  .btn1::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .btn1::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .btn1:active,
  .btn1:focus {
    outline: none;
  }
  
  .btn1:active::before,
  .btn1:active::after {
    right: 3px;
    left: 3px;
  }
  
  .btn1:active::before {
    top: 3px;
  }
  
  .btn1:active::after {
    bottom: 3px;
  }
  
  .btn__inner1 {
    position: relative;
    display: block;
    padding: 20px 30px;
    background-color:var(--bgwhite);
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
  }
  
  .btn__inner1::before {
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 2px;
    height: 2px;
    background-color: var(--button-bits-color);
  }
  
  .btn__inner1::after {
    content: '';
    display: block;
    position: absolute;
    right: 0; bottom: 0;
    width: 4px;
    height: 4px;
    background-color:var(--red);
    transition: all .2s ease;
  }
  
  .btn__slide1 {
    display: block;
    position: absolute;
    top: 0; bottom: -1px; left: -8px;
    width: 0;
    background-color: var(--highlight-color);
    transform: skew(-15deg);
    transition: all .2s ease;
  }
  
  .btn__content1 {
    position: relative;
  }
  
  .btn1:hover {
    color: var(--button-text-color-hover);
  }
  
  .btn1:hover .btn__slide1 {
    width: calc(100% + 15px);
  }
  
  .btn1:hover .btn__inner1::after {
    background-color: var(--button-bits-color-hover);
  }
  
  .btn--light1 {
    --button-background-color: var(--background-color);
    --button-text-color: var(--highlight-color);
    --button-inner-border-color: var(--highlight-color);
    --button-text-color-hover: #ece8e1;
    --button-bits-color-hover: #ece8e1;
  }
/* ======== NAVBAR END ========== */

/* ======== CONTAINER========== */
.container {
    text-align: center;
}

.baslik h2 {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: nevan;
    font-size: 50px;
  }
  .baslik h2::after {
    content: '';
    display: block;
    width: 80%;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: -1px; 
    left: 10;
  }
/* ======== FLIP CARD ========== */
  .flip-card {
    float: left;
    margin: 30px;
    width: 100%;
    max-width: 300px;
    height: 480px;
    perspective: 1000px;
    background-color: transparent;
    font-family: nevan;
    flex: 1 1 calc(25% - 30px); /* 4 kart yan yana */
  }
  
  .flip-card-img {
    height: 400px;
    overflow: hidden;
    background-color: gray;
  }
  
  .flip-card img {
    width: 100%;
  }
  
  .flip-card-text {
    padding: 10px;
  }
  
  .flip-card h2 {
    font-weight: 600;
    font-size: 1.8em;
  }
  
  .flip-card p.title {
    color: grey;
    font-size: 1.5em;
  }
  
  .flip-card p {
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: 
      preserve-3d;
    box-shadow: 
      0 4px 8px 0 
      rgba(0,0,0,0.2);
  }
  
  .flip-card:hover 
  .flip-card-inner {
    transform: rotateY(180deg);
  }
  

  .flip-card-front, 
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility:
      hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    color: black;
    border: 5px solid var(--black);
    background-color:var(--red);
    border-radius: 5px;
  }
  
  .flip-card-back {
    color: white;
    border: 5px solid var(--red);
    transform: rotateY(180deg);
    background-image: url(/ValorantSkin.com/IMG/BattlaPass/3.png) ;
    background-repeat: no-repeat;
    filter: blur(0.5px);
  }
  
  .flip-card-back i {
    padding: 15px;
  }
/* ======== FLIP CARD END ========== */

/* ======== CONTAINER END ========== */